.settings {
  margin-bottom: 20px;
}

.settings__title {
  margin: 0;
  margin-bottom: 20px;
}

.settings__form {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.settings__submit {
  color: black;
}
